<h2><%= t(".title") %></h2>

<% if adm_signed_in? || client_signed_in? || provider_signed_in? %>
  <table>
    <tbody>
      <% @products.each  do |product| %>
        <tr class="products">
          <td> <%= image_tag "box.svg", width: "180px" %> </td>
          <td> <%= product.name.titleize %> </td>
          <td> R$ <%= product.price.round(2) %> </td>
          <td> <%= button_to add_to_cart_path(product_id: product.id), class: "btn btn-success", method: :post, remote: true do %>
            <%= t('.buy') %> <%= image_tag "shopping-cart-2.png", width: "27px" %>
          <% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
