  <div class="shopping-cart">
    <div class="title">
      <%= t(".title") %>
    </div>
  
    <% @shopping_cart.each  do |cart_item| %>
      <div class="item">
        <div class="buttons">
          <%= button_to "X", remove_all_from_cart_path(product_id: cart_item[:product].id), class: "btn btn-danger", remote: true %>
          <%= button_to "â¤", root_path, class: "btn btn-primary", remote: true %>
        </div>

        <div class="image">
          <%= image_tag "box.svg", width: "100px" %>
        </div>

        <div class="description">
          <span><%= cart_item[:product].name %></span>
          <span><%= cart_item[:product].description %></span>
        </div>

        <div class="quantity">
          <%= button_to "+", add_to_cart_path(product_id: cart_item[:product].id), class: "btn btn-primary", remote: true %>
          <input type="text" value=<%= cart_item[:quantity] %>>
          <%= button_to "-", remove_one_from_cart_path(product_id: cart_item[:product].id), class: "btn btn-primary", remote: true %>
        </div>

        <div class="total-price">R$<%= cart_item[:product].price.round(2) %></div>
      </div>
    <% end %>
  </div>