<p id="notice"><%= notice %></p>

<p>
  <strong><%= Product.human_attribute_name :name %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name :description %>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t('.dimensions') %>:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong><%= Product.human_attribute_name :price %>:</strong>
  <%= @product.price %>
</p>

<p>
  <strong><%= Product.human_attribute_name :price %>:</strong>
  <%= @product.price %>
</p>

<p>
  <strong><%= Product.human_attribute_name :quantity %>:</strong>
  <%= @product.quantity %>
</p>

<%= link_to t('.edit'), edit_product_path(@product), class: 'btn btn-warning' %>
<%= link_to t('.back'), products_path, class: 'btn btn-info' %>
